<form action="/" method="post">
  <div class="input-group mb-3 center">
    <input id="cityInput" name="cityName" type="text" class="form-control form-control-lg" placeholder="City Name" aria-label="City Name" required>
    <input id="stateInput" name="stateName" type="text" class="form-control form-control-lg" placeholder="State/Province" aria-label="State Name">
    <input id="countryInput" name="countryName" type="text" class="form-control form-control-lg" placeholder="Country" aria-label="City Name">
    <button class="btn yButton" type="submit" name="units" value="imperial">Fahrenheit</button>
    <button class="btn yButton" type="submit" name="units" value="metric">Celsius</button>
  </div>
</form>

</main>
</div>
</body>

<div class="container">
  <footer class="center fixed-bottom d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mt-auto text-white-50">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">Coded by KD Linkhauer in 2022</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="link-secondary" href="https://www.linkedin.com/in/kd-linkhauer/"><i class="fa-brands fa-linkedin fa-3x"></i></a></li>
      <li class="ms-3"><a class="link-secondary" href="https://github.com/kdlinkhauer"><i class="fa-brands fa-github-square fa-3x"></i></a></li>
    </ul>
  </footer>
</div>

<!-- Bootstrap Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/7a9d6bf98a.js" crossorigin="anonymous"></script>

</html>