<%- include('partials/header'); -%>

<h1>Hey, how's the weather?</h1>
<form action="/" method="post">
  <div class="input-group mb-3 center">
    <input id="cityInput" name="cityName" type="text" class="form-control form-control-lg" placeholder="City Name" aria-label="City Name" aria-describedby="button-addon2">
    <button class="btn yButton" type="submit" id="button-addon2">Let's check!</button>
  </div>
</form>

<%- include('partials/footer'); -%>