<%- include('partials/header'); -%>
<div class="center main">
  <h1>Hey, what's the weather?</h1>
  <form action="/" method="post">
    <input id="cityInput" type="text" name="cityName" placeholder="City Name">
    <button type="submit">Let's check!</button>
  </form>
</div>
<%- include('partials/footer'); -%>