body {
  background-image: url("/images/background.jpg");
  /* The image used */
  background-color: #2B52A6;
  /* Used if the image is unavailable */
  height: 800px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

h1 {
  font-family: 'Joan', serif;
  color: #fff;
  font-size: 5em;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

.main {
  padding: 10% 0;
}

.footer {
  padding: 2% 0;
}